/*1*/

/*5*/
#external-style {
	color: green !important;
}
/*6*/
* {
	font-family: "helvetica", monospace;
	font-size: 20px;
}
/*7*/
h1 {
	font-size: 2rem;
}
/*8*/
#h2-id {
	text-transform: uppercase;
}
/*9*/
.languages {
	background-color: orange;
}
/*10*/
li[name] {
	border-width: 2px;
	border-style: solid;
	border-color: navy;
	width: 90%;

}

/*11*/
img + ul{
	
	list-style-type: none;
}
/*12*/
img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

/*13*/
ul + p {
	text-align: center;
	}

/*14*/
section > ul > li {
	letter-spacing: 5px;
}


